body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #272528;
}
h1 {
    color: #b8aa85;
}
#stopwatch {
    font-size: 3rem;
    color: #d59362;
    margin-bottom: 20px;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #60494a;
    background-color: #d5d2ca;
    border: none;
    border-radius: 10px;
}
button:hover {
    background-color: #b9af95;
}